.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-page-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  font-weight: var(--text-weight);
  font-size: 20px;
  padding: 88px 24px;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-page-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    margin: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-page-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .hero h2 {
    padding: 88px 120px;
    font-size: 40px;
  }
}
