:root{
    --background-primary-color:#ffffff;
    --background-secundary-color:#f5f5f5;
    --background-tertiary-color:#000000;

    --botton-primary-color: #8F0101;
    --botton-secundary-color: #B81515;

    --text-primary-color: #222222;
    --text-secundary-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

